<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      html {
        background-color: #011627;
        color: #fdfffc;
        font-family: monospace;
        font-size: 1.5em;
        max-width: 50em;
      }
      a {
        color: #2ec4b6;
      }
      h1 {
        color: #c8152a;
      }
      h2 {
        color: #ac1224;
      }
    </style>
  </head>
  <body>
    <h1>{{.Title}}</h1>
      <p align="justify">
        {{.Description}}
      </p>

      <h2>Warsztaty Kubernetes</h2>
        <p align="justify">Warsztaty Kubernetes odbywają się co czwartek o godz. 20.30.</p>
	<p>Harmonogram:</p>
         <ul>
            <li>2023-04-27, godz. 20.30</li>
            <li>2023-05-04, brak warsztatów</li>
            <li>2023-05-11, brak warsztatów</li>
            <li>2023-05-18, godz. 20.30</li>
         </ul>
        <details>
          <summary>Kliknij, aby rozwinąć listę poprzednich warsztatów.</summary>
          <small>
            <ul>
              <li>2023-03-30, godz. 20.30</li>
              <li>2023-04-06, godz. 20.30</li>
              <li>2023-04-13, godz. 20.30</li>
              <li>2023-04-20, godz. 20.30</li>
            </ul>
          </small>
        </details>

      <h2>Najbliższe spotkania</h2>
        <p align="justify">Oprócz warsztatów, spotykamy się także na luźne dyskusje. Zazwyczaj są to wtorki o godz. 22.00. Dokładne daty z godzinami znajdziesz poniżej:</p>
        {{if not .FutureEvents}}
	  <p align="justify">Aktualnie nie ma żadnych zaplanowanych spotkań.</p>
	{{else}}
          <ul>
            {{range .FutureEvents}}
              <li>{{.Format "2006-01-02, godz. 15:04"}}</li>
            {{end}}
          </ul>
	{{end}}

        <details>
          <summary>Kliknij, aby rozwinąć listę poprzednich spotkań.</summary>
          <small>
            <ul>
              {{range .PastEvents}}
                <li>{{.Format "2006-01-02, godz. 15:04"}}</li>
              {{end}}
            </ul>
          </small>
        </details>

      <h2>Jak dołączyć?</h2>
        <p align="justify">Znajdź adres email do któregoś z autorów tej strony i napisz maila.</p>
        <small>Nie wiesz jak? Poszukaj w repozytorium kodu :)</small>

      <h2>API</h2>
        <p>Sprawdź <a href="/metadata.json"><code>/metadata.json</code></a>.</p>

  <footer><small>Wykonane z &lt;3 przy użyciu Go. Kod źródłowy: <a href="https://github.com/LambdaTown/homepage">github.com/LambdaTown/homepage</a>.</small></footer>
  </body>
</html>
